<form [formGroup]="form" (ngSubmit)="addItem()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Add new To-Do Item</mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex-column">
      <mat-form-field appearance="outline">
        <mat-label>Title:</mat-label>
        <input matInput type="text" formControlName="title">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description:</mat-label>
        <textarea matInput rows="5" formControlName="description"></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Assign to:</mat-label>
        <select matNativeControl formControlName="assignee">
          <option *ngFor="let person of people" value="{{person.id}}">{{person.name}} {{person.surname}}</option>
        </select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="right">
      <button type="submit" mat-raised-button color="accent">Add</button>
      <button type="reset" mat-button>Reset</button>
    </mat-card-actions>
  </mat-card>
</form>

<ng-container *ngIf="items && items.length != 0">
  <div cdkDropList (cdkDropListDropped)="itemDropped($event)">
    <div cdkDrag  *ngFor="let item of items; let i = index">
      <app-item [item]="item" [index]="i+1" (removeItem)="removeItem($event)" (changeStatus)="changeStatus($event)"></app-item>
    </div>
  </div>
</ng-container>
